node_modules
.env
dist
build
coverage
*.log
*.p8
.DS_Store
.expo
.expo/

backend/node_modules/
backend/.env
backend/uploads/products/
apps/*/mobile/node_modules/
apps/*/mobile/dist/
admin-dashboard/frontend/node_modules/
admin-dashboard/frontend/dist/
