node_modules
.env
dist
build
coverage
*.log
.DS_Store

backend/node_modules/
backend/.env
backend/uploads/products/
apps/*/mobile/node_modules/
apps/*/mobile/dist/
admin-dashboard/frontend/node_modules/
admin-dashboard/frontend/dist/
